@model Expense_Tracker.Models.Category

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            
        </div>
       
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Script {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
