@model IEnumerable<Expense_Tracker.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-7">
        <ejs-grid dataSource="@Model" >

        </ejs-grid>
    </div>
</div>