@model IEnumerable<Expense_Tracker.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" gridLines="none" >
            <e-grid-columns>
                <e-grid-column headerText="Category" field="Title"></e-grid-column>
                <e-grid-column headerText="Types" field="Title"></e-grid-column>
                <e-grid-column headerText="Actions" field="Title"></e-grid-column>
            </e-grid-columns>

        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>