@model Expense_Tracker.Models.Transaction

@{
    ViewData["PageTitle"] = Model.TransactionId == 0 ? "Create a new transaction" : "Edit transaction";
}



<div class="row">
    <div class="col-md-7">
        <div class="widget widget-form p-5">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="TransactionId" value="@Model.TransactionId"/>
                <div class="mb-3">
                    <ejs-datepicker id="date" 
                                    placeholder="Date(yyy-MM-dd)" 
                                    floatLabelType="Always" 
                                    ejs-for="Date" 
                                    format="yyyy-MM-dd">
                    </ejs-datepicker>
                    
                </div>
                <div class="mb-3">
                    <ejs-dropdownlist   id="listeCategory" 
                                        ejs-for="CategoryId"
                                        dataSource="@ViewBag.Categories" 
                                        placeholder="Category"
                                        floatLabelType="Always" 
                                        allowFiltering="true" 
                                        ignoreAccent="true"
                                        filterType="Contains" 
                                        popupHeight="220px">
                        <e-dropdownlist-fields value="CategoryId" text="TitleWithIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>   
                    <span asp-validation-for="Amount" class="text-danger"></span>             
                </div>
                <div class="mb-3">
                    <ejs-numerictextbox id="amount" 
                                        min="0" 
                                        format="c0" 
                                        placeholder="Amount" 
                                        ejs-for="Amount" 
                                        floatLabelType="Always">
                    </ejs-numerictextbox>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="note" 
                                placeholder="Note" 
                                ejs-for="Note"
                                floatLabelType="Always"
                                multiline="true">
                    </ejs-textbox>
                    
                </div>
                
                <div class="mb-3">
                    <ejs-button id="submit" type="submit" cssClass="e-success" content="Submit" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>




