

@{
    
    ViewData["isDashboard"] = true;
}


@*Summary widget*@

<div class="row mb-4">
    <div class="d-flex flex-row widget summary income">
        <div class="d-flex  flex-column justify-content-center">

        </div>
    </div>
</div>